body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.profile-card {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.profile-img {
    width: 100px;
    border-radius: 50%;
}

.designation {
    font-weight: bold;
    color: #555;
}

.bio {
    font-size: 14px;
    color: #777;
}
